<!doctype html>
<html ng-app="MyApp">
  <head>
    <title>Angular JS Training</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script
    src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script
    src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/register-login.js"></script>
    <script src="scripts/controllers/users.js"></script>
    <script src="scripts/controllers/apply-leave.js"></script>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="mainBodyController">
    <nav class="navbar navbar-default" ng-controller="topMenuController">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
                  data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                  aria-expanded="false">
            <span class="sr-only">Toggle navigation</span> <span
              class="icon-bar"></span> <span class="icon-bar"></span> <span
              class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Angular Training</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
          <!--<ul class="nav navbar-nav">
            <li><a href="javascript:void(0);" ng-click="allusers()">All
                Users</a></li>
          </ul>-->
          <ul class="nav navbar-nav navbar-right">

            <li ng-if="loggedInStatus == 'false'"><a href="javascript:void(0);" ng-click="login()">Login</a>&nbsp;</li>
            <li ng-if="loggedInStatus == 'false'"><a href="javascript:void(0);" ng-click="register()">Register</a></li>
            <li ng-if="loggedInStatus == 'true'"><a href="javascript:void(0);" ng-click="logout()">Logout</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <div ng-controller="contentAreaController" ui-view>
      <div class="container">
        <h1>Welcome to my CRM Angular App</h1>
      </div>
    </div>
  </body>
</html>
