<div class="panel panel-info">
  <div class="panel-heading"><strong>User ID: </strong>{{user.id}}</div>
  <div class="panel-body">
    <table class="table table-condensed table-responsive table-striped">
      <tr>
        <th>Name</th>
        <td>{{user.name}}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
      </tr>
      <tr>
        <th>Phone</th>
        <td><a href="tel:{{user.phone}}">{{user.phone}}</a></td>
      </tr>
      <tr>
        <th>Date of Birth</th>
        <td>{{user.dob}}</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>{{user.address}}</td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="btn btn-xs btn-info">View Details</button>
          <button class="btn btn-xs btn-success">Edit</button>
          <button class="btn btn-xs btn-danger">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>